{% extends "base_sistema.html" %}

{% block content %}

<section>
  <aside>
    <select name="departamento">
        <option>Elija Departamento...</option>
        <option>Montevido</option>
        <option>Colonia</option>
        <option>Tacuarembó</option>
        <option>Mercedes</option>
    </select>
  </aside>
</section>
<section>
  <table>
    <caption>
      <span class="title">MIS GUARDIAS</span><br><br><br>      
    <span class="subtitle">En la siguiente tabla se encuentran
           todas las guardias que ha elegido.</span><br><br> 
    </caption>
    <thead>
      <tr>
        <th>
          <span class="sstitle">INSTITUCION</span><br><br><label for="institucion"></label>
          <select>
            <option> Elija Institucion... </option>
            <option> Clinicas </option>
            <option> Maciel </option>
            <option> Colonia </option>
            <option> Fray Bentos </option>
            <option> Tacuarembó </option>
          </select>
        </th>
        <th>
          <span class="sstitle">FECHA</span><br><br><label for="fecha"></label>
          <select name="fecha">
            <option>Elija fecha... </option>
            <option>2020-03-02</option>
            <option>2020-03-03</option>
            <option>2020-03-04</option>
            <option>2020-03-05</option>
            <option>2020-03-06</option>
            <option>2020-03-07</option>
            <option>2020-03-08</option>
          </select>
        </th>
        <th>
          <span class="sstitle">TURNO</span><br><br><label for="turno"> </label>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for guardias in object_list %}
      <tr>
        <td> {{guardias.centroSalud.nombre}} </td>
        <td> {{guardias.fecha}} </td>
        <td> {{guardias.turno}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}